/*  Map  */
/* Flexible */
.responsive-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
}

#map{
	display: block;
	width: 100%; 
	height: 80%;
}

.input-group-btn {
	padding: 2px 2px 2px 2px;
    font-size: inherit;

}

.input-group-btn input {
    width: 80%;
    height: 100%;
	padding: 1px 2px 3px 2px;
    font-size: inherit;
}


/* Home Style */
.containerhome {
	background-image: url("../images/fondo.jpg");
	background-size: auto;
	background-repeat: no-repeat;
}
.centered{
	text-align: center;
}

img#logohome{
	width: 50%;
}

#submit{
	margin-top: 6%;
 	width: 100%;
}

.footer p{
	color: #CFDAD8;
}

img#headerLogo {
	width: 40px;
	height: 30px;
}