<html ng-app="demoApp">
    <% include _head.ejs %>
    <body ng-controller="HomeCtrl" class="containerhome">
        <div class="container">
            <% include _navbar.ejs %>
            <div class="row">
                <div class="centered">
                    <img id="logohome" src="images/logo.png">
                </div>
            </div>
            <div class="footer">
                <p> Taller OPENDATALAPALMA, 2015 </p>
            </div>
        </div>
</body>
</html>