<% include _head.ejs %>
<body ng-controller="MapCtrl">
<div class="container">
    <%include _navbar.ejs %>
    <div class="jumbotron">
        <div class="row">
            <div class="responsive-map col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <!-- Site footer -->
    <div class="footer">
        <p>© CryptUll 2014</p>
    </div>
</div>
</body>
</html>
